# --- Ficheiros de Dados (IMPORTANTE: retirar o # destas linhas quando acabar o código e colocar numa frive) ---
# data/
# *.csv
# *.json
# *.parquet
# *.gz

# --- IDE & OS (Já está correto) ---
.DS_Store
.idea/
.vscode/
__pycache__/
*.ipynb_checkpoints/

# --- Spark & Java (Já está correto) ---
target/
*.class
*.jar

# --- Outros ---
venv/
jars/
.env

# Para os ficheiros de logs:
*.log